body{
	margin: 0 auto;
	text-align: center;
	font-family: 'Source Serif Pro', serif;
	background-color: #F7FE2E;
}

a:link{
	text-decoration: none;
	color: #FF4000;
}

a:visited{
	color:#2E9AFE;
}

a:hover{
	border-bottom: 2px dotted gray;
}

a:active{
	border: 2px dotted gray;
	padding: 0px 2px;
}

.nav-links, #gallery{
	list-style: none;
	padding: 0;
}

.nav-links li{
	display: inline;
	padding: 20px;
}

#social-links img{
	width: 50px;
	height: 50px;
}

header, nav, section{
	background-color: white;
	width: 800px;
	margin: 10px auto;
	padding: 10px;
}

header img{
	width:200px;
	height:200px;
	margin-top: 10px;
}

.about-div{
	display: inline-block;
	text-align: left;
	padding: 20px;
	margin-top: 15px;
}

#about-text{
	width: 200px;
}

.display-div{
	display: inline-block;
}

#display-image, #second-image, #third-image, #fourth-image{
	width: 700px;
}

#display-text{
	width: 600px;
	text-align: left;
	margin-left: -90px;
	margin-top: 10px;
}

#gallery li{
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 2px solid #F7FE2E;
	margin: 10px;
}

.thumb img{
	width: 150px;
	height:150px;
}

.thumb h2, .thumb p, .second, .third, .fourth{
	display: none;
}

.thumb a:hover{
	border: none;
}

#instafeed{
	height: 310px;
	overflow: hidden;
	margin-bottom: 15px;
}